:root {
    /* colors */
    --color-violet: hsl(257, 40%, 49%);
    --color-Soft-magenta: hsl(300, 69%, 71%);

    /* fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-regular: 400;
    --font-semibold: 600;
}